*{
	outline: 1px solid rgba(255, 0, 0, 0.4);
	box-sizing: border-box;
}

*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
/*............................. ....Header  */
.icon-container {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	line-height: 150px;
	font-size: 60px;
	text-align: center;
	box-shadow: -2px 2px 20px rgba(0 , 0, 0, 0.2);
	border-radius:200px;
	color: skyblue;
}

header {
	background:url("../image/large.jpg") no-repeat;
	background-size: cover;
	height: 500px;
	padding-top: 50px;
	opacity: 0.9px;
	rgba(0,0,0.9);
}

.list-inline{
	float: right;
}

ul li a{
	color: white;
}

/*...............................Header-banner  */
.phrase{
	padding:155px;
	margin-right: 200px;
	margin-left: 200px;
	color:white;
}


.header-banner{
	position: relative;
	top: 10px;
	transform: translateY(-140%);
	background-color: #5A81BA;
	margin: 0 auto;
	opacity: 0.8;
}

header , button{
	background-color: #5A81BA;
	opacity: 0.8;
	border:2px solid white;
	margin: 40px;
	
}

button{
	font-size: 30px;
}

/*.............................. Nuestros Servicios  */

.linea{
	height: 1px; 
	background-color: black; 
	text-align: center;
}

.separador{
	 
	position: relative; 
	top: -3.7em;

}
/*.............................. Ejemplo de User  */
.logo2{
	width: 50%;
	display: inline-block;
}
.fecha{
	text-align: center;
}
/*.............................. Lo que quiero*/

hr {
  background-color: black;
  height: 1px;
}

.sec-2{
	width:100%;
    max-width:640px;
    background: #595C5E  ; 
   opacity: .50; 

}

.iconos{
	width: 70px;
	height: 70px;
	margin: 0 auto;
	line-height: 70px;
	font-size: 30px;
	text-align: center;
	box-shadow: -2px 2px 10px rgba(0 , 0, 0, 0.2);
	border-radius:200px;
	background-color: #61BDE5 ;
	
}

.linea2{
	height: 1px; 
	background-color: black; 
	text-align: center;
}

.separador2{
	 
	position: relative; 
	top: -3.7em;
}

.col-lg-2 {
	margin-left: -40px;
	-webkit-animation-direction: alternate-reverse;
	-o-animation-direction: alternate-reverse;
	animation-direction: alternate-reverse;
}


/*.............................. Por que usar */

.texto-5 p {
	margin: 25px 10px;
	font-size: 16px;
	width: 90%;
	
}

.text-6 p {
	 color: black;
}
.texto-5 ul li{
	font-size: 16px;
	margin: 25px 35px;
	width: 90%;
}

/*.............................. Secciòn Footer Principal */

.boton2{
	background: #5A81BA;
	font-size: 25px;
	height: 60px auto;
	padding:10px 15px;
	border: 2px solid white;
	top: 9px;
	color: white;
	margin: 25px 100px;
	float: right;
}

.footer-principal{
	background: #5A81BA ;
}

.letra{
	color: white;
}

/*.............................. Footer Secundario*/

.footer-secundario{
	background:#404954; 
}

.texto , .texto-2  p{
	color: white;
	margin-top: 30px;
}	

.texto-2{
	padding-bottom: 40px;
}
.icon-facebook, .icon-twitter {
	widthicon-facebook: 70px;
	height: 70px;
	margin: 20px auto;
	line-height: 70px;
	font-size: 50px;
	text-align: center;
	box-shadow: -2px 2px 10px rgba(0 , 0, 0, 0.2);
	border-radius:200px;
	background-color: #404954 ;
	border: 1px solid #0B8DB7;
}
.icon-facebook, .icon-twitter {
	color: #0B8DB7;
	margin-right: 30px;
	
}