/*{
	outline: 1px solid rgba(255, 0, 0, 0.4);
	box-sizing: border-box;
}

*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

/*-----------.......------------------HEADER*/
header {
	background-image: url("../image/large.jpg");
	background-size: cover;
	background-attachment: fixed;
	min-height: 400px;
	width: 100%;
	margin: 0 auto;
	color: white; }

header .opacity {
	background-color: rgba(76, 83, 89, 0.5); }

header img {
	margin-top: 13%; }

header .list-inline {
	float: right;
	margin-top: 5%;  }

header .list-inline a {
	color: white;
	font-size: 18px;   }

header .frase {
	width: 60%;
	margin-left: 18%;
	position: absolute;
	top: 20%; 
	display: inline-block;  }

header .frase h2 {
	font-size: 255%;  }
/*-------------------.------------HEADER-BANNER*/
.header-banner button {
	border: 1px solid white;
	border-radius: 2px;
	font-size: 18px;
	background: rgba(97, 146, 203, 0.4);
	margin-top: 8%;
	width:150px;
    height:30px; 
     }

.header-banner {
	background-color: rgba(41, 124, 222, 0.6);
	width: 100%;
	margin-top: 37%;
	text-align: center;
	padding: 3% 0  }


/*.............................. Nuestros Servicios  */

.linea{
	height: 1px; 
	background-color: #BDBDBD; 
	text-align: center;
}

.separador{	 
	position: relative; 
	top: -3.7em;
}

.text{
	font-size: 40px;
	color:#0B8DB7;
}


.tex-blue-1{
	color:#0B8DB7;
	font-size: 30px;
}

.icon-container {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	line-height: 150px;
	font-size: 60px;
	text-align: center;
	box-shadow: -2px 2px 20px rgba(0 , 0, 0, 0.2);
	border-radius:200px;
	color: skyblue;
}

/*.............................. Ejemplo de User  */
.logo2{
	width: 50%;
	display: inline-block;
}
.fecha{
	text-align: center;
}



/*.............................. Lo que quiero*/

hr {
  background-color: #BDBDBD;;
  height: 1px;
}

.sec-2{
	width:100%;
    max-width:640px;
    background: #595C5E  ; 
   opacity: .50; 

}

.iconos{
	width: 70px;
	height: 70px;
	margin: 0 auto;
	line-height: 70px;
	font-size: 30px;
	text-align: center;
	box-shadow: -2px 2px 10px rgba(0 , 0, 0, 0.2);
	border-radius:200px;
	background-color: #61BDE5 ;
	
}

.linea2{
	height: 1px; 
	background-color: #BDBDBD; 
	text-align: center;
}

.separador2{
	 
	position: relative; 
	top: -3.7em;
}

.col-lg-2 {
	margin-left: -40px;
	-webkit-animation-direction: alternate-reverse;
	-o-animation-direction: alternate-reverse;
	animation-direction: alternate-reverse;
}

.text-blue{
	color:#5A81BA ;
 }

 .col-lg-10 ul li{
	font-size: 16px;
	margin: 5px 15px;
	width: 100%;
}

.titulo-3{
	margin-left: 40px;
}

/*.............................. Por que usar */

.texto-5 p {
	margin: 25px 10px;
	font-size: 16px;
	width: 90%;
	
}
.text-6 p {
	 color: black;
}
.texto-5 ul li{
	font-size: 16px;
	margin: 25px 35px;
	width: 90%;
}

/*.............................. Secciòn Footer Principal */

.boton2{
	background: #5A81BA;
	font-size: 25px;
	height: 60px auto;
	padding:10px 15px;
	border: 2px solid white;
	top: 9px;
	color: white;
	margin: 25px 100px;
	float: right;
}

.footer-principal{
	background: #5A81BA ;
}

.letra{
	color: white;
}

/*.............................. Footer Secundario*/

.footer-secundario{
	background:#404954; 
}

.texto , .texto-2  p{
	color: white;
	margin-top: 30px;
}	

.texto-2{
	padding-bottom: 40px;
}
.icon-facebook, .icon-twitter {
	widthicon-facebook: 70px;
	height: 70px;
	margin: 20px auto;
	line-height: 70px;
	font-size: 50px;
	text-align: center;
	box-shadow: -2px 2px 10px rgba(0 , 0, 0, 0.2);
	border-radius:200px;
	background-color: #404954 ;
	border: 1px solid #0B8DB7;
}

.redessociales{
	text-align: right;
}
.icon-facebook, .icon-twitter {
	color: #0B8DB7;
	margin-right: 30px;	
}

.text-8{
	text-align: right;
}